@media (min-width: 725px){
  #navbarAll{background-color:white}
}

@media
(max-width: 700px) {
#navbarAll {background-color: #17a2b8} }


.item {
  vertical-align: top;
  display: block;
  text-align: center;}


.caption {
    display: block;
}

h2{
  font-family: "Times New Roman";
  font-weight: bold;
}

p{
  font-family: "Helvetica";
  color: grey;
  ;
}

#lat{  font-family: "Times New Roman";
  font-weight: bold;

}

span{
  font-family: "Helvetica";
  color: grey;
  ;
}